<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/#">Home</a></li>
      <li role="presentation"><a href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/#">About</a></li>
      <li role="presentation"><a href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/#">Contact</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Project name</h3>
</div>